.accordion {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  .accordion__button {
    width: 10rem;
    appearance: none;
    border: none;
    background-color: inherit;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .accordion__item {
    width: 100%;
    overflow: hidden;
  }

  .accordion__label {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid $default-font-colour;
    border-bottom: 1px solid $default-font-colour;
    cursor: pointer;
    font-size: 1.8rem;

    &:hover {
      .accordion__icon {
        color: #fff;
        background-color: $default-font-colour;
        padding: .15rem;
      }
    }
  }

  .accordion__icon {
    border-radius: 50%;
    transition: color .2s;
    transition: background-color .2s;
  }

  .accordion__icon--down {
    transform: rotate(90deg);
  }

  .accordion__content {
    max-height: 0;
    transition: all .35s;
  }

  .accordion__input {
    display: none;

    &:checked {
      ~ .accordion__label {
        border-bottom: none;
      }

      ~ .accordion__content {
        max-height: 100vh;
      }
    }
  }
}
