.filter {
  display: grid;
  grid-template-columns: 10rem repeat(2, minmax(0, 1fr));
  gap: 1rem;
  min-width: 0;

  .filter__input {
    min-width: 0;
    appearance: none;
    font-size: $default-font-size;
    background-color: $background-colour;
    border: none;
    border-bottom: 1px solid rgba(67, 67, 67, .6);
  }
}
