.shop {
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
  "shop-display"
  "shop-cta";

  .shop-display {
    grid-area: shop-display;
  }

  .shop-cta {
    grid-area: shop-cta;
  }
}


