.shop {
  height: 100%;
  // overflow: hidden;
  display: grid;
  grid-template-rows: 75% 25%;
  grid-template-areas:
  "shop__display"
  "shop__cta";


  .shop__display {
    grid-area: shop__display;
  }

  .shop__cta {
    grid-area: shop__cta;
  }
}


